body {
  display: block;
  margin: 0 auto;
  padding: 30px;
}
.custom {
  font-family: "Yomogi", cursive;
}
.mainTemp {
  color: #85c1e9;
  font-size: 70px;
}
.cityNow {
  color: #84b1cf;
  font-size: 55px;
  text-transform: capitalize;
  text-align: center;
}
.desc {
  color: #84b9dc;
  font-size: 40px;
  position: relative;
  top: 0px;
}
.fecha {
  color: #83a8c1;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}
.principal {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-height: 200px;
}
.day {
  position: relative;
  top: -10px;
}
.foreTitle {
  font-size: larger;
}
.forecastIcon {
  max-height: 35px;
}
#searchBar {
  font-family: monospace;
  width: 300px;
}
#outBorder {
  border: 5px dotted #83a8c1;
  width: 1000px;
}
#inBorder {
  color: #82a0b4;
  width: 320px;
}

#lens {
  position: relative;
  top: auto;
}
#leftCol {
  padding: 30px;
}
#inH {
  height: 55px;
}
#inHH {
  height: 30px;
}
#currentLoc {
  position: relative;
  top: auto;
}
.firma {
  position: relative;
  top: 10px;
  font-weight: lighter;
  font-family: "Baloo 2";
}
